<div class="container">
  <div class="top-page-left">
    <fa-icon [icon]="faLocation"></fa-icon> Km 9, HaNoi, VietNam
    <fa-icon [icon]="faEnvelop"></fa-icon><span (click)="mailMe()"><a [href]="mailText">Safecarz@ltd.com.vn</a></span>
  </div>

  <div class="top-page-right">
    <div class="FAQ">
      <!-- Search form -->
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="button">
          Search
        </button>
      </form>
    </div>
    <div class="socialmedia">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faInstargram"></fa-icon>
    </div>
   </div>
</div>
