.container{
  display: flex;

  padding :0;
  flex-direction: row;
  justify-content: center;
  max-height: 50px;
  width: 100%;
  margin:0;
  max-width: 100%;
}
.top-page-left{
  width:42%;
  margin: 0 2%;
  padding: 2%;
  max-height:50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.top-page-left > div {
  width: 50%;
  font-size: 15px;
  flex: 1 1 100px;
}
.top-page-right{
  width:42%;
  margin: 0 2%;
  padding: 2%;
  max-height:50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.top-page-right > div {
  width: 50%;
  font-size: 25px;
  text-align: center;
  max-height: 50px;
  flex: 1 1 100px;
}
.top-page-right .socialmedia > fa-icon{
  width: 20%;
  margin: 0 2%;
  font-size: 30px;
}
