.container{
  display: flex;
  flex-flow: row nowrap;
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: space-between;

}
.container > *{
  flex: 1 1 100px;
  padding: 1%;
  max-height: max-content;
  flex-basis: 200px;
}
h5{
  font-size: 25px;
}
h2{
  font-size: 35px;
  font-weight: 600;
}
h4{
  font-size: 25px;
  font-weight: 500;
}
li{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
p{
  font-size: 20px;
  font-weight: 200;
}
.info{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.info img{
  width:50%;
  border-radius: 50%;
}
.socialmedia{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}
.info fa-icon{
  display: flex;
  flex:1 1 40px;
  font-size: 40px;
  transition: font-size 0.5s;
  cursor: pointer;

}
.info fa-icon:hover{
  font-size: 50px;
}
.contact{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.contact > *{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
.contact h5{
  text-align: center;
}
.contact fa-icon{
  color: rgba(6, 102, 201, 0.95);
  font-size: 30px;
}
.contact span{
  font-size: 20px;
}
.gps h5{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.newsletter h5{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.newsletter p{

  font-size: 15px
}
.newsletter fa-icon{
  color: rgba(6, 102, 201, 0.95);
  font-size: 25px;

}
.newsletter a{
  font-size: 25px;
  margin-left: 5px;
}
.newsletter input{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.78);
  height: 60px;
  width: 90%;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 60px;
  background-color: rgba(4, 23, 38, 0.9);
  border-radius: 10px;
  font-weight: 400;
}
.newsletter button{
  font-size: 15px;
  width: 10%;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding:10px;
  height: 60px;

}
.google-map{
  width:100%;
  height:250px;
}
