<div class="container">
  <div class="benefitall row">
    <div class="benefit col-4 text-c">
      <fa-icon [icon]="faSaveMoney"></fa-icon>
      <fa-icon [icon]="faNumber"></fa-icon>
      <h5>Save your money</h5>
      <p>afasfafasfasfasfasfasfasfas</p>
    </div>
    <div class="benefit col-4">
      <fa-icon [icon]="faSaveMoney1"></fa-icon>
      <fa-icon [icon]="faNumber1"></fa-icon>
      <h5>Get free quote</h5>
      <p>asfasdasdasdasdadasdasdas</p>
    </div>
    <div class="benefit col-4">
      <fa-icon [icon]="faSaveMoney2"></fa-icon>
      <fa-icon [icon]="faNumber2"></fa-icon>
      <h5>Fast & Reliable</h5>
      <p>dfdsfsdfsdfsdfsdfsdfasfasdadas</p>
    </div>
  </div>

  <div class="aboutus row">
    <div class="img col-6">
      <div class="img1">
        <img src="assets/about1.jpeg" alt="about1"/>
      </div>

      <div class="img2">
        <img src="assets/about2.jpeg" alt="about2"/>
      </div>
      <div class="exp">
        <img src="assets/20exp.png" alt="20exp"/>
      </div>
    </div>
    <div class="detail col-6">
      <h5><img src="assets/left-right.png" alt="#"/>ABOUT COMPANY<img src="assets/right-left.png" alt="#"/></h5>
      <h2>We provide the best insurance policy</h2>
      <h4>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu nulla pariatur.</h4>
      <ul>
        <li>Refresing to get such a personal touch.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate.</li>
        <li>Velit esse cillum dolore eu fugiat nulla pariatur.</li>
      </ul>
      <p>
        Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt ipsum.
      </p>
      <button>Discover More</button>
    </div>
  </div>

  <div class="ourservices row">
    <div class="ourservices-title col-6">
      <h5><img src="assets/left-right.png" alt="#"/>OUR SERVICES<img src="assets/right-left.png" alt="#"/> </h5>
      <h2> We’re covering all the insurance fields</h2>
    </div>
    <div class="ourservices-detail col-6">
      Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt ipsum.
    </div>

    <div class="ourservices-product col-6">
      <img src="assets/carinsurance.png" alt="car insurance"/>

      <h5>Cars Insurance</h5>
      <p>Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt ipsum.</p>
    </div>
    <div class="ourservices-product col-6">
      <img src="assets/motobikeinsurance.jpeg" alt="motobike insurance"/>

      <h5>Motobikes Insurance</h5>
      <p>Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt ipsum.</p>
    </div>
  </div>
  <div class="whychose row">
    <div class="whychose-detail col-6">
      <h5><img src="assets/left-right.png" alt="#"/>WHY CHOSSE<img src="assets/right-left.png" alt="#"/> </h5>
      <h2>Few reasons for people choosing insur</h2>
      <p>
        Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et.
      </p>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faFast"></fa-icon>
        <br>
        <span class="showing">Fast & Easy </span>
        <span class="hidden">akasodjaipd</span>
      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faSaveMoney"></fa-icon>
        <br>
        <span class="showing">Save Money</span>
        <span class="hidden">akasodjaipd</span>

      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faContract"></fa-icon>
        <br>
        <span class="showing">Control Over Policy</span>
        <span class="hidden">akasodjaipd</span>

      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faSurcurity"></fa-icon>
        <br>
        <span class="showing">Sercurity</span>
        <span class="hidden">akasodjaipd</span>
      </div>
    </div>
    <section class="why-chosse-one col-6">
      <div class="why-choose-one-shape-2 float-bob-y">
        <img decoding="async" src="http://layerdrops.com/insurwp/wp-content/uploads/2022/07/why-choose-one-shape-2.png" alt="">
      </div>
      <div class="why-choose-one-shape-3 float-bob-x">
        <img decoding="async" src="http://layerdrops.com/insurwp/wp-content/uploads/2022/07/why-choose-one-shape-3.png" alt="alt">
      </div>

    </section>
  </div>
</div>
<a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="display: inline;">
  <fa-icon [icon]="faUp"></fa-icon></a>
