#homepage{
  padding: 0;
  margin: 0;
  width: 100%;
}
.benefitall{
  background-color: transparent;
}
.benefit{
  margin: 30px 25px 30px 25px;
  width:calc(33% - 50px);
  box-shadow: #b9b9b9 1px 1px;
  border-radius: 30px;
  background-color: rgba(253, 253, 253, 0.8);
  height: 300px;
  transition: background-color 5s;

  padding:20px;
  border: rgba(128, 128, 128, 0.6) solid 1px;
}
.benefit fa-icon{
  font-size: 70px;
  color: rgba(21, 84, 194, 0.85);
  margin-top:30px;
  margin-left:35px;
  margin-right: 30px;

  padding:15px;
  border-radius: 70px;
}
.benefit h5{
  margin-top:30px;
  text-align: center;
  font-size: 30px;

}
.benefit p{
  text-align: center;
  font-size: 15px;
  margin-top:15px;
}
.benefit:hover{
  background-color: rgba(6, 78, 145, 0.82);
  color: rgba(248, 248, 255, 0.8);
}
.benefit:hover fa-icon{
  color: rgba(255, 250, 250, 0.92);
}

.aboutus{
  background-color: transparent;
  border-radius: 10px;
  height: max-content;
  padding: 20px 0;
  box-sizing: content-box;

}
.aboutus .detail{
  text-align: left;
  padding:20px;

}
.aboutus .detail h5{
  text-align: left;
}
.aboutus .detail h2{
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}
.aboutus .detail h4{
  text-align: left;
  font-size: 25px;
  margin: 20px 0;
  font-weight: 500;
  color: #006fdc;
}
.aboutus .detail button{
  font-size: 20px;
  padding:20px;
  color: whitesmoke;
  background-color: #006fdc;
  border-radius: 10px;
  transition: background-color 2s;
  width: 200px;
  margin-top:20px;
}
.aboutus .detail li{
  margin:10px 0;
  font-size: 15px;
  font-weight: 500;
}
.aboutus .detail p{
  margin:20px 0;
  font-size: 18px;
  font-weight: 200;
}
.aboutus .detail button:hover{
  background-color: rgba(0, 0, 68, 0.75);
}
.img1 img{
  width:550px;
  float:right;
  border-radius: 50px;
}
.img2 img{
  width:400px;
  float:left;
  border-radius: 50px;
  translate: -10px -80px;
}
.exp{
  width:150px;
  translate: 300px 400px;
  position: absolute;
}
.ourservices{
  padding:50px;
  background-color: rgb(253, 253, 253);
  max-width: 100%;
  width:100%;
  margin:0;
}
.ourservices h5{
  text-align: left;
  margin-left:20px;
}
.ourservices h2{
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}

.ourservices-product{
  width:calc(50% - 40px);
  margin:20px;
  border: #e0e0e0 solid 1px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.58);
  padding:0;
  box-shadow: rgba(107, 107, 107, 0.8) 1px 1px;
}
.ourservices-product img{
  width:100%;
  height: 300px;
  border-radius: 30px;
}
.ourservices .detail{
  padding:10px;
}
.ourservices .detail h5{
  margin-top: 20px;
  font-size: 30px;
  color: #1a55c7;
  font-weight: 500;
}
.ourservices .detail p{
  font-size: 20px;
  font-style: italic;
  padding:20px;
  color: rgba(0, 0, 0, 0.66);
}

.ourservices-product fa-icon{
  font-size: 40px;
  color: cornflowerblue;
  translate: 110px 50px;
}
.ourservices-detail p{
  padding:10px;
  margin-top:20px;
  font-size:20px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
}
.whychose {
  margin-top:50px;

  background-color: rgba(8, 36, 59, 0.9);
  border-radius: 10px;
  color: whitesmoke;
  height:800px;
  margin-bottom: 50px;
  padding:60px;
  z-index: -99;

}
.whychose-detail h5{
  text-align: left;
}
.whychose-detail h2{
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}
.whychose-detail p{
  font-size: 20px;
  font-style: italic;
  padding:10px;
  color: rgba(231, 229, 229, 0.66);
}

.whychosse-icon{

  width:calc(50% - 40px);
  float:left;
  height:180px;
  margin:20px;
  padding:20px;

  border-radius: 10px;
  background-color: rgba(6, 31, 51, 0.9);
}
.whychosse-icon fa-icon{
  font-size: 45px;
  color: rgba(44, 169, 225, 0.91);
}
.whychosse-icon .showing{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.91);
  margin-top: 20px;
}
.whychosse-icon .hidden{
  font-size: 20px;
  color: rgba(246, 246, 246, 0.91);
  padding:10px;

}
.whychosse-icon .hidden{
  display: none;

}
.whychosse-icon:hover .showing{
  display: none;

}
.whychosse-icon:hover .hidden{
  display: inline;
}
.scroll-to-top{
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  border-radius: 50%;
}
.scroll-to-top fa-icon{
  font-size: 45px;
}
*{
  margin:0;
}
.why-chosse-one img{
  width: 800px;
  max-width: none;
  translate: -150px -50px;
  position: absolute;
  z-index: 50;
}
.whychose-detail{
  z-index: 99;
}
h2{

  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}
.news-detail{
  padding:20px;
}
.new{
  border: grey solid 1px;
  margin:20px;
  width: calc(33.33% - 40px);
  border-radius: 30px;
  padding: 0;
  height:550px;

}
.new img{
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.new h2{
  font-size: 30px;
  text-align: left;
  padding:10px;
  margin:5px;
}
.new p{
  font-size: 20px;
  color: #626262;
  padding:10px;
  height:90px;
  overflow: hidden;
}
.new a{
  cursor: pointer;
  color: #4180ea;
  font-size: 20px;
  padding:10px;
  margin-top:10px;
}

.container-contact .contact{
  width: 1200px;
  margin: 0 auto;
  border: grey solid 1px;
  height:200px;
  background-color: rgba(47, 88, 215, 0.96);
  border-radius: 20px 20px 0 0;
  float:none;
}
.contact fa-icon{
  font-size: 60px;
  color:whitesmoke;
  width: calc(30% - 30px);
  float: left;
  margin-top:50px;
  margin-left:30px;
}
.contact h2{
  font-size: 30px;
  width: 70%;
  float: left;
  margin-top:70px;
  color: whitesmoke;

}
.contact button{
  padding:20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
  transition:background-color 2s;

}
.contact button:hover{
  background-color: rgba(6, 31, 51, 0.9);
  color: whitesmoke;
}
.contact{
  width:calc(30% - 30px);
  margin-top:70px;
  margin-left:70px;
  float:left;
}
.contact a{
  font-size: 20px;
}
.contact p{
  font-size: 15px;
}
.contact fa-icon{
  position: relative;
  height: 80px;
  width: 80px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 30px;
}

.contact-phone a{
  font-size: 25px;
}
.contact-phone .col-10 p{
  font-size: 15px;
  margin:0;
}
.contact-phone fa-icon{
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 20px;
}
.contact-phone{
  margin-top:25px;
  margin-left: 20px;
}
