#homepage{
  padding: 0;
  margin: 0;
  width: 100%;
}
h5{
  font-size: 25px;
}
h2{
  font-size: 35px;
  font-weight: 600;
}
h4{
  font-size: 25px;
  font-weight: 500;
}
li{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
p{
  font-size: 20px;
  font-weight: 200;
}
.benefitall{
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;

}
.benefit{
  width: 90%;
  margin: 2%;
  padding: 2%;
  flex: 1 1 100px;
  justify-items: center;
  align-items: center;
  align-content: space-between;
  box-shadow: #b9b9b9 1px 1px;
  border-radius: 30px;
  background-color: rgba(253, 253, 253, 0.8);
  transition: background-color 5s;
  display: flex;
  flex-flow: row wrap;
  border: rgba(128, 128, 128, 0.6) solid 1px;
}
.benefit fa-icon{
  font-size: 50px;
  color: rgba(21, 84, 194, 0.85);
  border-radius: 70px;
  flex: 2 2 100px;
}
.benefit h5{
  text-align: center;
  flex: 1 1 100px;
}
.benefit p{
  text-align: center;
  flex: 1 1 100px;
}
.benefit:nth-child(n){
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.benefit:hover{
  background-color: rgba(6, 78, 145, 0.82);
  color: rgba(248, 248, 255, 0.8);
}
.benefit:hover fa-icon{
  color: rgba(255, 250, 250, 0.92);
}

.aboutus{
  background-color: transparent;
  display: flex;
  flex-flow: row;
}
.aboutus .detail{
  flex: 1 1 100px;
  padding: 2%;
}
.aboutus .img{
  flex: 1 1 100px;
}
.detail-content{
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: space-around;

}
.detail-content > *{
  flex: 1 1 content-box;
  width: 100%;
  padding:2%;
}
.detail-content > h5,li{
  text-align: center;
}
.detail-button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.detail-button > *{
  flex: 1 1 100px;

}
.aboutus .detail button{
  font-size: 20px;
  padding:20px;
  color: whitesmoke;
  background-color: #006fdc;
  border-radius: 10px;
  transition: background-color 2s;
}
.aboutus .detail button:hover{
  background-color: rgba(0, 0, 68, 0.75);
}
.aboutus .img{
  display: flex;
  flex-flow: column;
}
.img1 img{
  width:60%;
  float:right;
  border-radius: 50px;
}
.img2 img{
  width:60%;
  float:left;
  border-radius: 50px;
  translate: -10px -80px;
}
.exp{
  width:20%;
  translate: 230% -350%;
  position: relative;
}
.ourservices{
  padding:50px;
  background-color: rgb(253, 253, 253);
  max-width: 100%;
  width:100%;
  margin:0;
}
.ourservices h5{
  text-align: left;
  margin-left:20px;
}
.ourservices h2{
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}

.ourservices-product{
  width:calc(50% - 40px);
  margin:20px;
  border: #e0e0e0 solid 1px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.58);
  padding:0;
  box-shadow: rgba(107, 107, 107, 0.8) 1px 1px;
}
.ourservices-product img{
  width:100%;
  height: 300px;
  border-radius: 30px;
}
.ourservices .detail{
  padding:10px;
}
.ourservices .detail h5{
  margin-top: 20px;
  font-size: 30px;
  color: #1a55c7;
  font-weight: 500;
}
.ourservices .detail p{
  font-size: 20px;
  font-style: italic;
  padding:20px;
  color: rgba(0, 0, 0, 0.66);
}

.ourservices-product fa-icon{
  font-size: 40px;
  color: cornflowerblue;
  translate: 110px 50px;
}
.ourservices-detail p{
  padding:10px;
  margin-top:20px;
  font-size:20px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
}
.whychose {
  margin-top:50px;

  background-color: rgba(8, 36, 59, 0.9);
  border-radius: 10px;
  color: whitesmoke;
  height:800px;
  margin-bottom: 50px;
  padding:60px;
  z-index: -99;

}
.whychose-detail h5{
  text-align: left;
}
.whychose-detail h2{
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
  font-weight: 600;
}
.whychose-detail p{
  font-size: 20px;
  font-style: italic;
  padding:10px;
  color: rgba(231, 229, 229, 0.66);
}

.whychosse-icon{

  width:calc(50% - 40px);
  float:left;
  height:180px;
  margin:20px;
  padding:20px;

  border-radius: 10px;
  background-color: rgba(6, 31, 51, 0.9);
}
.whychosse-icon fa-icon{
  font-size: 45px;
  color: rgba(44, 169, 225, 0.91);
}
.whychosse-icon .showing{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.91);
  margin-top: 20px;
}
.whychosse-icon .hidden{
  font-size: 20px;
  color: rgba(246, 246, 246, 0.91);
  padding:10px;

}
.whychosse-icon .hidden{
  display: none;

}
.whychosse-icon:hover .showing{
  display: none;

}
.whychosse-icon:hover .hidden{
  display: inline;
}
.scroll-to-top{
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  border-radius: 50%;
}
.scroll-to-top fa-icon{
  font-size: 45px;
}
*{
  margin:0;
}
.why-chosse-one img{
  width: 800px;
  max-width: none;
  translate: -150px -50px;
  position: absolute;
  z-index: 50;
}
.whychose-detail{
  z-index: 99;
}
.news-detail{
  padding:20px;
}
.new{
  border: grey solid 1px;
  margin:20px;
  width: calc(33.33% - 40px);
  border-radius: 30px;
  padding: 0;
  height:550px;

}
.new img{
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.new h2{
  font-size: 30px;
  text-align: left;
  padding:10px;
  margin:5px;
}
.new p{
  font-size: 20px;
  color: #626262;
  padding:10px;
  height:90px;
  overflow: hidden;
}
.new a{
  cursor: pointer;
  color: #4180ea;
  font-size: 20px;
  padding:10px;
  margin-top:10px;
}

.container-contact .contact{
  width: 1200px;
  margin: 0 auto;
  border: grey solid 1px;
  height:200px;
  background-color: rgba(47, 88, 215, 0.96);
  border-radius: 20px 20px 0 0;
  float:none;
}
.contact fa-icon{
  font-size: 60px;
  color:whitesmoke;
  width: calc(30% - 30px);
  float: left;
  margin-top:50px;
  margin-left:30px;
}
.contact h2{
  font-size: 30px;
  width: 70%;
  float: left;
  margin-top:70px;
  color: whitesmoke;

}
.contact button{
  padding:20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
  transition:background-color 2s;

}
.contact button:hover{
  background-color: rgba(6, 31, 51, 0.9);
  color: whitesmoke;
}
.contact{
  width:calc(30% - 30px);
  margin-top:70px;
  margin-left:70px;
  float:left;
}
.contact a{
  font-size: 20px;
}
.contact p{
  font-size: 15px;
}
.contact fa-icon{
  position: relative;
  height: 80px;
  width: 80px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 30px;
}

.contact-phone a{
  font-size: 25px;
}
.contact-phone .col-10 p{
  font-size: 15px;
  margin:0;
}
.contact-phone fa-icon{
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 20px;
}

/* Media query */
/* For tablet*/
@media only screen and (max-device-width: 991px)
{
  .benefitall{
    flex-flow: row wrap;
  }
  .benefit fa-icon:nth-child(1){
    display: none;
  }
  .aboutus .detail .detail-content p,h4{
    display: none;
  }
}
/* For mobile */
@media only screen and (max-device-width: 768px)
{
  .benefitall{
    flex-flow: column wrap;
  }
  .benefit fa-icon:nth-child(1){
    display: block;
  }
  .benefit fa-icon{
    flex: 1 1 100px;
  }
  .benefit h1{
    flex: 1 1 100px;
  }
  .benefit p{
    display: none;
  }
  .aboutus{
    flex-flow: column;
  }
  .aboutus .img{
    display: none;
  }
}
