<div>
  <app-banner></app-banner>
</div>
<div class="container .bg-secondary.bg-gradient">

  <div class="benefitall row">
    <div class="benefit col-4">
      <fa-icon [icon]="faSaveMoney"></fa-icon>
      <fa-icon [icon]="faNumber"></fa-icon>
      <h5>Save your money</h5>
      <p>The coverages you need and the discounts you can get, saving money is easy</p>
    </div>
    <div class="benefit col-4">
      <fa-icon [icon]="faSaveMoney1"></fa-icon>
      <fa-icon [icon]="faNumber1"></fa-icon>
      <h5>Get free quote</h5>
      <p>Use The Safe Carz to find cheap auto insurance quotes all around the world</p>
    </div>
    <div class="benefit col-4">
      <fa-icon [icon]="faSaveMoney2"></fa-icon>
      <fa-icon [icon]="faNumber2"></fa-icon>
      <h5>Fast & Reliable</h5>
      <p>Get a fast and reliable quote from us today</p>
    </div>
  </div>

  <div class="aboutus row">
    <div class="img col-6">
      <div class="img1">
        <img src="assets/about1.jpeg" alt="about1"/>
      </div>

      <div class="img2">
        <img src="assets/about2.jpeg" alt="about2"/>
      </div>
      <div class="exp">
        <img src="assets/20exp.png" alt="20exp"/>
      </div>
    </div>
    <div class="detail col-6">
      <h5><img src="assets/left-right.png" alt="#"/>ABOUT COMPANY<img src="assets/right-left.png" alt="#"/></h5>
      <h2>We provide the best insurance policy</h2>
      <h4>Insurance coverage refers to the kinds of protection available. Along with basic coverage under the policy, you can choose a number of add-ons to enhance the protection under the policies.</h4>
      <ul>
        <li>Third-Party Liability Only Cover</li>
        <li>Collision Damage or Own Damage (OD) Cover</li>
        <li>Personal Accident Cover</li>
        <li>Zero Depreciation Insurance</li>
        <li>Comprehensive Car Insurance</li>
      </ul>
      <p>
        This type of coverage gives the highest level of protection as it includes liability for third parties, damage to own vehicle, personal accident cover, and all non-collision damage such as storms, floods, fire and theft. You can further enhance a comprehensive car insurance policy with a choice of add-ons.
      </p>
      <div class="row">
        <div class="col-4">
          <button routerLink="aboutus" (click)="toTop()">Discover More</button>
        </div>
        <div class="col-8">
          <div class="contact-phone row">
            <div class="col-2">
              <fa-icon [icon]="faPhone"></fa-icon>
            </div>
            <div class="col-10">
              <a href="tel:+1800-5555">Call 1800-5555</a>
              <p>Call to Our Experts</p>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="ourservices row">
    <div class="ourservices-title col-6">
      <h5><img src="assets/left-right.png" alt="#"/>OUR SERVICES<img src="assets/right-left.png" alt="#"/> </h5>
      <h2> We’re covering all car and motobike insurance fields</h2>
    </div>
    <div class="ourservices-detail col-6">
      <p>
        Primary use is to provide financial protection against physical damage or bodily injury resulting from traffic collisions and against liability that could also arise from incidents in a vehicle
      </p>
    </div>

    <div class="ourservices-product col-6">
      <img src="assets/carinsurance.png" alt="car insurance"/>
      <div class="detail">
      <a routerLink="/vehicles/2" (click)="toTop()">
        <h5>Cars Insurance</h5>
      </a>
      <p>Car Insurance with many special priorities helps perfectly protect your vehicle</p>
      </div>
    </div>
    <div class="ourservices-product col-6">
      <img src="assets/motobikeinsurance.jpeg" alt="motobike insurance"/>
      <div class="detail">
        <a routerLink="/vehicles/1" (click)="toTop()">
        <h5>Motobikes Insurance</h5>
        </a>
        <p>Motobikes Insurance with many special priorities helps perfectly protect your vehicle</p>
      </div>
    </div>
  </div>
  <div class="whychose row">
    <div class="whychose-detail col-6">
      <h5><img src="assets/left-right.png" alt="#"/>WHY CHOSSE<img src="assets/right-left.png" alt="#"/> </h5>
      <h2>Few reasons for people choosing car insur</h2>
      <p>
        Most drivers have car insurance because it is the law, but that doesn’t mean you should only buy the minimum required coverage. There are many reasons to buy car insurance.
      </p>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faFast"></fa-icon>
        <br>
        <span class="showing">Fast & Easy </span>
        <span class="hidden">Get a fast and easy quote</span>
      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faSaveMoney"></fa-icon>
        <br>
        <span class="showing">Save Money</span>
        <span class="hidden">Save up to 20% discount</span>

      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faContract"></fa-icon>
        <br>
        <span class="showing">Control Over Policy</span>
        <span class="hidden">Free to chosse your policy</span>

      </div>
      <div class="whychosse-icon text-center">
        <fa-icon [icon]="faSurcurity"></fa-icon>
        <br>
        <span class="showing">Sercurity</span>
        <span class="hidden">Full cover and sercurity</span>
      </div>
    </div>
    <section class="why-chosse-one col-6">
          <img src="assets/why-choose-one-img.png" alt="#"/>

    </section>
  </div>
</div>
<div class="news">
  <div class="title text-center">
    <h5><img src="assets/left-right.png" alt="#"/>RECENT NEWS FEED<img src="assets/right-left.png" alt="#"/> </h5>
    <h2>Latest news & articles from the blog</h2>
  </div>
  <div class="news-detail row">
    <div class="new col-4">
      <img src="assets/blog-05-370x270.png" alt="#"/>
      <h2>8 Qualities That Make a Good Insurance Agent</h2>
      <p>If you have ever contemplated becoming an insurance agent or wondered whether this career path could be right for you</p>
      <a>Read More >></a>
    </div>
    <div class="new col-4">
      <img src="assets/blog-06-370x270.png" alt="#"/>
      <h2>Why Is Car Insurance Important?</h2>
      <p>Over 6 million car accidents occur every year in the United States. Driving is hazardous, and you can get in an accident even if you didn’t do anything wrong because you’re depending on the drivers and the environment around you to cooperate.</p>
      <a>Read More >></a>
    </div>
    <div class="new col-4">
      <img src="assets/blog-07-370x270.png" alt="#"/>
      <h2>5 Ways to Make Your Car Insurance Monsoon Proof</h2>
      <p>Monsoon is when you need to take extra care of your car. A vehicle breakdown is a common sight on rainy days. Having car insurance will save you from some unnecessary expenses this season.  </p>
      <a>Read More >></a>
    </div>

  </div>
</div>
<div class="container-contact">
  <div class="contact row">
    <div class="col-6 text-center">

      <fa-icon [icon]="faContract"></fa-icon>
      <h2>Start tracking your claims</h2>
    </div>
    <div class="col-6 text-center">
    <a routerLink="../contact" (click)="toTop()" >
      <button>TRACK YOUR CLAIM</button>
    </a>
    </div>
  </div>
</div>

<a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="display: inline;">
  <fa-icon [icon]="faUp"></fa-icon></a>
