<div class="container" id="homepage">
  <div class="banner">
  <app-banner></app-banner>
  </div>
<!--  Three benefit -->
  <div class="container .bg-secondary.bg-gradient">
    <div class="benefitall">
      <div class="benefit">
             <fa-icon [icon]="faNumber"></fa-icon>
             <fa-icon [icon]="faSaveMoney"></fa-icon>
             <h5>Save your money</h5>
             <p>The coverages you need and the discounts you can get,
              saving money is easy</p>
        </div>
      <div class="benefit">
            <fa-icon [icon]="faNumber1"></fa-icon>
            <fa-icon [icon]="faSaveMoney1"></fa-icon>
            <h5>Get free quote</h5>
            <p>Use The Safe Carz to find cheap auto insurance quotes
              all around the world</p>
      </div>
      <div class="benefit">
            <fa-icon [icon]="faNumber2"></fa-icon>
            <fa-icon [icon]="faSaveMoney2"></fa-icon>
            <h5>Fast & Reliable</h5>
            <p>Get a fast and reliable quote from us today</p>
    </div>
  </div>
  </div>
<!--About company-->
  <div class="aboutus">
    <div class="img">
      <div class="img1">
        <img src="assets/about1.jpeg" alt="about1"/>
      </div>
      <div class="img2">
        <img src="assets/about2.jpeg" alt="about2"/>
      </div>
      <div class="exp">
        <img src="assets/20exp.png" alt="20exp"/>
      </div>
    </div>
    <div class="detail">
      <div class="detail-content">
        <h5><img src="assets/left-right.png" alt="#"/>ABOUT COMPANY<img src="assets/right-left.png" alt="#"/></h5>
        <h2>We provide the best insurance policy</h2>
        <h4>Insurance coverage refers to the kinds of protection available. Along with basic coverage under the policy, you can choose a number of add-ons to enhance the protection under the policies.</h4>
        <ul>
          <li>Third-Party Liability Only Cover</li>
          <li>Collision Damage or Own Damage (OD) Cover</li>
          <li>Personal Accident Cover</li>
          <li>Zero Depreciation Insurance</li>
          <li>Comprehensive Car Insurance</li>
        </ul>
        <p>
          This type of coverage gives the highest level of protection as it includes liability for third parties, damage to own vehicle, personal accident cover, and all non-collision damage such as storms, floods, fire and theft. You can further enhance a comprehensive car insurance policy with a choice of add-ons.
        </p>
      </div>

      <div class="detail-button">
        <div class="claim">
          <button routerLink="aboutus" (click)="toTop()">Discover More</button>
        </div>
        <div class="contact-phone">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="tel:+1800-5555">Call 1800-5555</a>
            <p>Call to Our Experts</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ourservices">
    <div class="ourservices-content">
      <div class="ourservices-title">
        <h5><img src="assets/left-right.png" alt="#"/>OUR SERVICES<img src="assets/right-left.png" alt="#"/> </h5>
        <h2> We’re covering all car and motobike insurance fields</h2>
      </div>
      <div class="ourservices-detail">
        <p>
          Primary use is to provide financial protection against physical damage or bodily injury resulting from traffic collisions and against liability that could also arise from incidents in a vehicle
        </p>
      </div>
    </div>

    <div class="ourservices-product">
      <div class="ourservices-car">
        <img src="assets/carinsurance.png" alt="car insurance"/>
        <div class="detail">
          <a routerLink="/vehicles/2" (click)="toTop()">
            <h5>Cars Insurance</h5>
          </a>
          <p>Car Insurance with many special priorities helps perfectly protect your vehicle</p>
        </div>
      </div>
      <div class="ourservices-motobike">
        <img src="assets/motobikeinsurance.jpeg" alt="motobike insurance"/>
        <div class="detail">
          <a routerLink="/vehicles/1" (click)="toTop()">
            <h5>Motobikes Insurance</h5>
          </a>
          <p>Motobikes Insurance with many special priorities helps perfectly protect your vehicle</p>
        </div>
      </div>
    </div>

  </div>
  </div>


