<div class="container row">
  <div class="sidebar col-3">
    Slider bar
  </div>
  <div class="main col-9 row">
    <p>Showing x results</p>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
    <div class="col-4">
      <div class="iproduct">
        <img src="assets/carinsurance.png"/>
        <h2>Insurance Name</h2>
        <h5>Description</h5>
        <p>Price</p>
      </div>
    </div>
  </div>
</div>
