* {
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #777;
  text-align: justify;
}

h1,
.subtitle {
  color: #ffffff;
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

ul {
  margin: 20px 0 0 0;
  padding: 0;
}

.content {
  position: relative;
}

.page_header {
  color: rgb(255, 255, 255);

  background-size: contain;
  height: 330px;
  text-align: center;
  display: table;
  width: 100%;
}

.title_wrapper {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  vertical-align: middle;
}

p {
  color: #777;
  font-size: 18px;
  font-style: normal;
  margin: 25px 0 0 0;
}

.box_1 {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.box_2 {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.my_text {
  padding-right: 17%;
  padding-left: 17%;
}

.section-title {
  color: darkslategrey;
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 5px solid lightseagreen;
  display: inline;
  padding-bottom: 5px;
}

.section-title-holder {
  text-align: center;
}

.content > strong {
  color: darkslategrey;
}
.wrapper{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #ffffff;
  font-weight: 400;
}
.about {
  width: 100%;


}
.about img{
  height: auto;
  width:100%;
}
.img-text{

}
.img {

  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-text h2{
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.img-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.img-text p{
  color: #fcf7f7;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background: red;
  color: #fcf7f7;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background: transparent;
  border: 2px solid red;
  cursor: pointer;
}
.img-text span{
  color: red;
}
.img-detail{
  float:left;
  background-color: rgba(73, 169, 34, 0.8);
  padding:5px;
  margin:5px;
  border-radius: 20px;
  box-sizing: border-box;
  height:650px;
}
.img-text h2{
  font-size: 22px;
  margin-top:10px;
}
.img-detail img{
  width:100%;
  height:220px;
  padding:0;
  border-radius: 20px;
  margin:0;
}
.img-detail h5{
  font-size: 20px;
}
.img-detail p{
  float:left;
  font-size: 15px;
}
