<div class="banner">
  <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
    <mdb-carousel-item>
      <img
        src="/assets/slider/banner3.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Vehicle Insurance</h5>
        <p>Whether you're on the road, the trail, or the water we're here to help you get the insurance you need.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/slider/banner2.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Motorcycle Insurance</h5>
        <p>15 minutes could save you 15% or more on motorcycle insurance.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/slider/banner1.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Car Insurance</h5>
        <p>Today, enjoy a hassle-free driving.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
