.banner{
  width: 100%;
  padding: 0;
  margin:0;
}
mdb-carousel img{
  height: 600px;
}
mdb-carousel h5{
  font-size:40px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(128, 128, 128, 0.5);
  box-sizing: content-box;
  border-radius: 10px;
}
mdb-carousel p{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
/* For tablet*/
@media only screen and (max-device-width: 991px)
{
  mdb-carousel img{
    height: 400px;
  }
}
/* For mobile */
@media only screen and (max-device-width: 768px)
{
  mdb-carousel img{
    height: 300px;
  }
}
