header{
  background-color: rgba(6, 31, 51, 0.9);
  color: rgba(248, 248, 248, 0.9);
  width: 100%;
  margin:0;
  max-width: 100%;
}
footer{
  background-color: rgba(6, 31, 51, 0.9);
  color: rgba(248, 248, 248, 0.9);
  width: 100%;
  margin:0;
  max-width: 100%;
}
.main{
  width: 100%;
  margin:0;
  max-width: 100%;
}

