<div class="contact-us">
  <div class="title">
    <h2>News </h2>
  </div>
  <div class="box">
    <!--form-->

    <div class="contact form">
        <div class="anh">
          <img src="/assets/news0.png"  />
        </div>
        <br>
      <div class="vanban">
        <div>
          <p>
            There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum. Suspendisse ultricies vestibulum vehicula. Proin laoreet porttitor lacus. Duis auctor vel ex eu elementum. Fusce eu volutpat felis. Proin sed eros tincidunt, sagittis sapien eu, porta diam. Aenean finibus scelerisque nulla non facilisis. Fusce vel orci sed quam gravida condimentum. Aliquam condimentum, massa vel mollis volutpat, erat sem pharetra quam, ac mattis arcu elit non massa. Nam mollis nunc velit, vel varius arcu fringilla tristique. Cras elit nunc, sagittis eu bibendum eu, ultrices placerat sem. Praesent vitae metus dolor. Nulla a erat et orci mattis auctor.
          </p>
          <p>
            Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.
          </p>
        </div>
        <div>
          <div id="DIV_16">
            <div id="DIV_17">
              <h2 id="H2_18">
                <span id="SPAN_19">Why Is Car Insurance Important?</span>
              </h2>
            </div>
          </div>
          <div id="DIV_20">
            <div id="DIV_21">
              <p id="P_22">
                <span id="SPAN_23">Car insurance eases the burden of financial liability after an accident. Repairs, damages, and potential legal costs aren’t cheap, and most people don’t have enough money on hand to cover these in case of an emergency. Car insurance is what can help pay for all, or a portion, of those costs.</span>
              </p>
            </div>
          </div>
          <div id="DIV_24">
            <div id="DIV_25">
              <p id="P_26">
                <span id="SPAN_27">An auto insurance company has the money to protect you after a crash due to customers collectively paying their premiums. Your insurer can reimburse others if you cause an accident, and it could pay for damages to your car, too,</span> depending on what coverage you have<span id="SPAN_30">. We’ll go over a few types of car insurance and when each could help you.</span>
              </p>
            </div>
          </div>
          <div id="DIV_31">
            <div id="DIV_32">
              <h3 id="H3_33">
                <span id="SPAN_34">To Protect Others on the Road</span>
              </h3>
            </div>
          </div>
          <div id="DIV_35">
            <div id="DIV_36">
              <p id="P_37">
                <span id="SPAN_38">Auto liability insurance covers the other drivers’</span> vehicle damage and medical expenses <span id="SPAN_41">after a car accident up to your policy’s limits. Your car insurance company will cover the costs of the people you hit if you’re found responsible for the accident. All you’d have to pay is</span>your deductible<span id="SPAN_44">, and your insurance company foots the rest of the bill up to your policy’s maximums.</span>
              </p>
            </div>
          </div>
          <div id="DIV_45">
            <div id="DIV_46">
              <p id="P_47">
                <span id="SPAN_48">Think about it like this. If you were just driving your car normally and another vehicle drove into you, damaging your car and injuring you and your passengers, you’d probably want the person that hit you to pay for the damages they caused. That’s the purpose of liability insurance.</span>
              </p>
            </div>
          </div>
          <div id="DIV_49">
            <div id="DIV_50">
              <p id="P_51">
                <span id="SPAN_52">Liability insurance is typically divided into two main areas of coverage: bodily injury and property damage. Bodily injury coverage will pay for injuries you’re legally liable for in an accident, including medical bills and some lost wages of the person who got hurt.</span>
              </p>
            </div>
          </div>
          <div id="DIV_53">
            <div id="DIV_54">
              <p id="P_55">
                <span id="SPAN_56">Property damage coverage, as you may have guessed, will cover the costs of any property damage you caused in an accident. This includes repairs to vehicles and other property that got wrecked, like fences, trees, signs, or light posts.</span>
              </p>
            </div>
          </div>
          <div id="DIV_57">
            <div id="DIV_58">
              <h3 id="H3_59">
                <span id="SPAN_60">To Protect Yourself and Your Vehicle</span>
              </h3>
            </div>
          </div>
          <div id="DIV_61">
            <div id="DIV_62">
              <p id="P_63">
                <span id="SPAN_64">Liability insurance comes into play for other people’s expenses. What about your own car? Two other types of auto insurance protect</span> <i id="I_65"><span id="SPAN_66">your</span></i> <span id="SPAN_67">car from several causes of potential damages. They’re called</span> collision <span id="SPAN_70">and</span>  <span id="SPAN_73"> coverage, and although they’re not required, most drivers have them.</span>
              </p>
            </div>
          </div>
          <div id="DIV_74">
            <div id="DIV_75">
              <p id="P_76">
                <span id="SPAN_77">Collision coverage financially protects your car in case you’re in an accident — whether you’re at fault or not. This includes crashes with other cars or objects. It also covers single driver accidents, so you’re protected if you swerved into a tree or rolled over on your own.</span>
              </p>
            </div>
          </div>
          <div id="DIV_78">
            <div id="DIV_79">
              <p id="P_80">
                <span id="SPAN_81">Comprehensive coverage guards your car against damage it can sustain while not being driven. This can include</span> <span id="SPAN_87">. Collision and comprehensive coverage are usually bought together since having both creates a complete form of coverage for your vehicle whether you’re behind the wheel or not.</span>
              </p>
            </div>
          </div>
        </div>
      </div>




    </div>
    <!--contact box-->
    <div class="contact info">
      <h3>Contact info</h3>
      <div class="infoBox">
        <div class="detail">

        </div>
        <div class="detail">


        </div>
        <div class="detail">


        </div>
        <!--social media link-->
        <ul class="sci">

        </ul>
      </div>

    </div>
    <!--map box-->
    <div class="contact map">

    </div>
  </div>

</div>
