<div class="container row">
  <div class="title col-6">
    <h2>PVI Car Insurance</h2>
    <p>Insurance Description</p>
  </div>
  <div class="logo col-6">
    <img src="assets/companylogo/pvi-logo.png" alt="#"/>
  </div>
</div>

<div class="container row">
  <div class="image col-6">
    <img src="assets/motobikeinsurance.jpeg"/>
  </div>
  <div class="benefit col-6">
    <h5><img src="assets/left-right.png" alt="#"/>INSURANCE BENEFIT<img src="assets/right-left.png" alt="#"/></h5>
    <p>Benefit</p>
  </div>
  </div>
<div class="container row text-center">
  <div class="term">
    <h5><img src="assets/left-right.png" alt="#"/>COMPANY TERM<img src="assets/right-left.png" alt="#"/></h5>
    <p> This company term</p>
  </div>
</div>
<div class="container row text-center">
  <div class="fomula">
    <h5><img src="assets/left-right.png" alt="#"/>INSURANCE FOMULA<img src="assets/right-left.png" alt="#"/></h5>
    <p>Formula to calculate insurance price </p>
  </div>
</div>

<div class="contact row">
  <div class="info col-3">
    <fa-icon [icon]="faPhone"></fa-icon>
    <a href="tel:+1800-5555">Call 1800-5555</a>

  </div>
  <div class="title col-9">
    <h2>Talk to our insurance experts</h2>
    <p>Contact our expert for more information</p>
    <button type="">Get Insurance Now</button>
  </div>

</div>

<div class="qna">
  <h5><img src="assets/left-right.png" alt="#"/>WE ALLWAYS HELP<img src="assets/right-left.png" alt="#"/></h5>
  <h2>They frequently asked questions</h2>

</div>


