<div class="container row" *ngFor="let dt of product" >
  <div class="title col-6">
    <h2>{{dt.companyName | uppercase}} {{dt.productName | titlecase}} </h2>
    <fa-icon [icon]="faLocation"></fa-icon>
    <h5>{{dt.address | titlecase}}</h5>
    <fa-icon [icon]="faPhone"></fa-icon>
    <h4>{{dt.phone}}</h4>
    <p>{{dt.description }}</p>
  </div>
  <div class="logo col-6">
    <img src="{{dt.logo}}" alt="#"/>
  </div>
</div>

<div class="container row" *ngFor="let dt of product">
  <div class="image col-6">
    <img src="{{dt.pictureproduct}}" alt="#"/>
  </div>
  <div class="benefit col-6">
    <h5><img src="assets/left-right.png" alt="#"/>INSURANCE BENEFIT<img src="assets/right-left.png" alt="#"/></h5>
    <p>{{dt.insuranceBenefit }}</p>
    </div>
  </div>
<div class="container row text-center" *ngFor="let dt of product">
  <div class="term">
    <h5><img src="assets/left-right.png" alt="#"/>COMPANY TERM<img src="assets/right-left.png" alt="#"/></h5>
    <p>{{dt.term }}</p>
  </div>
</div>
<div class="container row text-center">
  <div class="fomula">
    <h5><img src="assets/left-right.png" alt="#"/>INSURANCE FOMULA<img src="assets/right-left.png" alt="#"/></h5>
    <p>Insurance price = Vehicle price * (insurance rate + vehicle rate + company rate)</p>
  </div>
</div>

<div class="container contact row">
  <div class="info col-3">
    <fa-icon [icon]="faPhone"></fa-icon>
    <a href="tel:+1800-5555">Call 1800-5555</a>

  </div>
  <div class="title col-9">
    <h2>Talk to our insurance experts</h2>
    <p>Contact our expert for more information</p>
    <button routerLink="/contact">Get Insurance Now</button>
  </div>

</div>

<div class="container qna">
  <h5><img src="assets/left-right.png" alt="#"/>WE ALLWAYS HELP<img src="assets/right-left.png" alt="#"/></h5>
  <h2>Frequently Asked Questions</h2>
  <div class="question row">
    <div class="question-detail col-12">
      <button (click)="qna()">Do I need to check the car before joining?</button>
      <p *ngIf="!isShowing">Usually with newly purchased cars, this procedure is not necessary. For old cars, taking pictures of cars in 8 directions is necessary to assess risks before issuing an application as well as evidence to record after participating in insurance.</p>
    </div>
    <div class="question-detail col-12">
      <button (click)="qna1()">If the car breaks down in a foreign country, is it covered by insurance?</button>
      <p *ngIf="!isShowing1">For vehicles with problems occurring outside the territory of the Socialist Republic of Vietnam will not be compensated for damage</p>
    </div>
    <div class="question-detail col-12">
      <button (click)="qna2()">How long does it take to claim compensation?</button>
      <p *ngIf="!isShowing2">Complaints must be sent to the insurance company within 30 days from the end of the trip with all documents such as reports from hospitals, doctors, police, airlines or other responsible authorities. other</p>
    </div>
    <div class="question-detail col-12">
      <button (click)="qna3()">I have purchased insurance but want to cancel the insurance and how much is the refund?</button>
      <p *ngIf="!isShowing3">In case the customer has a request to unilaterally terminate the insurance contract, if the customer gives notice 03 working days before the insurance effective date, 70% of the insurance premium will be refunded, non-refundable if the customer has issued insurance validity. In case the insurance company unilaterally cancels the insurance contract, 100% of the premium will be refunded</p>
    </div>
  </div>
  <div class="FAQ">
    <button routerLink="/qna">Read full FAQ</button>
  </div>
 </div>

<div class="container related-product">
  <h5><img src="assets/left-right.png" alt="#"/>RELATED INSURANCE<img src="assets/right-left.png" alt="#"/></h5>
  <div *ngFor="let dt of product"><h5>Other {{dt.companyName}} insurances</h5></div>
  <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let slide of company">
        <ng-template carouselSlide>
          <a routerLink="/detail/{{slide.productId}}" data-target="html" class="scroll-to-target scroll-to-top" style="display: inline;" >
            <h2 class="w-75" style="background-color:rgba(245,245,245,0.8); border-radius:20px; border:grey 1px solid; font-size: 25px; padding: 10px; height: 100px">{{slide.productName | titlecase}}</h2>
          <img class="w-75" style="background-color:rgba(245,245,245,0.8); border-radius:20px;border:grey 1px solid; height: 200px; padding: 10px" [src]="slide.pictureproduct" [alt]="slide.productName" [title]="slide.companyName">
          </a>
        </ng-template>
      </ng-container>



  </owl-carousel-o>


</div>

