.container{
  margin: 30px 0;
  height: content-box;
  background-color: rgba(10, 137, 238, 0.6);
  border-radius: 10px;
  box-shadow: black 1px 1px;
  padding:50px 20px;

}
.title{
  padding:25px;
  text-align: left;
}
.title h2{
  font-size: 40px;
  font-weight: 900;
}
.title h5{
  font-size: 20px;
  color: #020202;
  margin:20px 0;
  width:90%;
  float:left;
}
.title h4{
  font-size: 20px;
  color: #000000;
  margin:20px 0;
  width:90%;
  float:left;
}
.title fa-icon{
  font-size: 20px;
  color:dodgerblue;
  width: 10%;
  float:left;
  margin:20px 0;
}
.title p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  line-height: 1.5;
}
.logo img{
  width:250px;
  margin-top:50px;
  margin-left:200px;
  position: absolute;

}
.image img{
  border-radius: 20px;
  box-shadow: grey 2px 2px;
  height:280px;
  margin-left: 45px;
}
.benefit h5{
  text-align: center;
}
h5{
  font-size: 20px;
}
li{
  font-size: 20px;
  line-height: 2;

}
p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.contact{
  box-shadow: none;
  padding:20px;
  background-color: transparent;
}
.contact .info{
  position: relative;
  border: 1px solid rgba(5, 80, 153, 0.7);
  border-radius: 50%;
  height: 245px;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact h2{
  text-align: center;
  color: #216adc;
  }
.contact fa-icon {
  height: 50px;
  width: 50px;
  border: 2px solid #0843c0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0843c0;
  font-size: 20px;
  float: left;
}

.contact a{
  font-size: 20px;
}
.contact button{
  font-size: 20px;
  padding:20px;
  border-radius: 20px;
  background-color: rgba(2, 100, 169, 0.76);
  color: rgba(255, 255, 255, 0.8);
  transition: font-size 1s;
  margin-left: 350px;
}
.contact button:hover{
  font-size: 30px;
}
.contact p{
  text-align: center;
}

.qna{
  text-align: center;
  box-shadow: none;
  background-color: transparent;
}
.qna .question-detail{
  margin:20px;

}
.qna button{
  font-size: 25px;
  padding:20px;
  width:100%;
  border-radius: 20px 20px 0 0;
  background-color: rgba(10, 137, 238, 0.6);
  color: rgba(245, 245, 245, 0.9);
}
.qna p{
  padding:20px;
  width:100%;
  border-radius: 0 0 20px 20px;
  border: grey solid 1px;
}
