<div class="container">
  <div class="navigator">
    <div class="logo">
      <img src="assets/salecarz_logo.jpg" alt="Logo"/>
    </div>
    <div class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand nav-link" routerLink="">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            (click)="basicNav.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarNav"
            mdbCollapse
            #basicNav="mdbCollapse"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="products">Insurance Products</a>
              </li>
              <div ngbDropdown class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle border-dark"
                  type="button"
                  id="dropdownMenuButton2"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  Companies
                </button>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a ngbDropdownItem class="dropdown-item" href="#">PVI</a></li>
                </ul>
              </div>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="aboutus">AboutUs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="contact">
      <fa-icon [icon]="faPhone"></fa-icon>
      <a href="tel:+1800-5555">Call 1800-5555</a>
      <p>Call to Our Experts</p>
    </div>
  </div>
</div>
