.container{
  height:150px;

}
img{
  width:150px;
  padding:10px;
}
.logo img{
  width:20%;
  box-sizing: border-box;
  float:left;
  background-color: transparent;
  border-radius: 10px;
}
.logo{

}
.menu{
  width: 50%;
  box-sizing: border-box;
  float:left;
  margin-top:40px;

}
.menu .navbar{
  border-radius: 10px;
  background-color: rgba(47, 246, 125, 0.6);
  font-size: 15px;
  border: black 1px solid;
  box-shadow: grey 1px 1px;
}
.contact{
  width:calc(30% - 30px);
  margin:40px 15px;
  float:left;
}
.contact a{
  font-size: 20px;
}
.contact p{
  font-size: 15px;
}
.contact fa-icon{
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 20px;
  float:left;
}
.btn-primary{
  background-color: rgba(0, 17, 61, 0.96);
}
.nav-item{
  margin-left:20px;
}
