

.logo img{
  width:200px;
  box-sizing: border-box;

  background-color: transparent;
  border-radius: 10px;
  padding:10px;
}
.logo{
  width: 100%;
  text-align: center;
}
.menu{
  width: 100%;
  box-sizing: border-box;
  float:left;

}
.navigator{
  display: flex;
  align-items: center;
  justify-items: center;
}
.menu .navbar{
  border-radius: 10px;
  background-color: rgba(199, 199, 199, 0.27);
  font-size: var(--bs-navbar-brand-font-size);
}
.menu .btn{
  font-size: var(--bs-navbar-brand-font-size);
  justify-items: center;
  align-items: center;
}

.contact{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.contact > child{
  flex: 1 1 100px;
}
.contact a{
  font-size: 20px;
}
.contact p{
  font-size: 15px;
}
.contact fa-icon{
  height: 50px;
  width: 50px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 20px;
  float:left;
}
.btn-primary{
  background-color: rgba(0, 17, 61, 0.96);
}
.nav-item{
  margin-left:30px;
}

.container{
  width: 100%;
  margin:0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container > div {
  flex: 1 1 100px;
}
.navbar .navbar-toggler{

}
/* Media query */
/* For tablet*/
@media only screen and (max-device-width: 991px)
{
  .container{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container > .contact{
    order: 2;
    display: none;
  }
  .container > .logo{
    order: 1;
  }
  .container > .navigator{
    order: 3;
  }
  .container > div{
    flex: 1 1 100px;
    align-items: center;
    flex-wrap: nowrap;
  }
  ul > li{
    margin:0;
  }
  .navbar-nav{
    justify-items: center;
    align-items: center;

  }
  .navbar-nav > div{
    flex: 1 1 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px rgba(0, 0, 0, 0.86) solid;
  }
  .navbar-nav > div:hover{
    background-color: #a6b0b4;
  }
  .navbar-nav > li{
    flex: 1 1 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px rgba(0, 0, 0, 0.86) solid;
  }
  .navbar-nav > li:hover{
    background-color: #a6b0b4;
  }
  .dropdown ul > li > a{
    text-align: center;
    border-bottom: 1px slategrey solid;
    font-size: 15px;
  }
}

/* For mobile */
@media only screen and (max-device-width: 768px)
{}

